$errorColor: #f55; // 错误报警颜色
$borderColor: #f0f0f0;
$shadowColor: #95c3e8;
$shadowDarkColor: #484545;
$strongTipColor: #fa1414;
$disabledTextColor: #ccc;
$hoverColor: #e6f7ff;
$normalBlue: #1890ff;
$disableBlue: rgba(112, 165, 214, 0.7);
$modalBgColor: rgba(5, 6, 8, 0.85);
// $modalBgColor: #000;
$hoverWhiteColor: rgba(255, 255, 255, 0.7);
// $navHeight: 40px;
$navHeight: 40px;
$fnHoverColor: #e5e5e5;

$boxShadow: 1px 1px 11px #ccc;
$border: 1px solid $borderColor;
$outerRadius: 4px;
